# It is recommended to use a Python version 3.9 or higher.

# Core scientific libraries
numpy==2.3.3
scikit-learn==1.7.2
scipy==1.16.2

# Image processing
opencv-python
Pillow==11.3.0
scikit-image==0.25.2

# AI/ML
tensorflow==2.20.0
tensorflow_hub==0.16.0
tf_keras
# google-generativeai is deprecated and will be replaced by google-genai.
google-generativeai==0.8.5
ollama==0.5.4

# NLP


# Utilities
tqdm==4.67.1
PyYAML==6.0.2
RestrictedPython==8.0